[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py4j" = "*"
pyfunctional = "*"
wrapt = "*"
fuzzywuzzy = {version = "*", extras = ["speedup"]}

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
pylint = "*"
rope = "*"
# prospector = "*"
mypy = "*"
pylama = "*"
# jupyter = "*"

[requires]
python_version = "3.6"
